body {
  min-width: 375px;
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  margin: 0;
}

.header-section {
  margin: 2% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 22.5px;
  width: auto;
  position: relative;
  height: 0.05px;
}

.logo {
  height: 40px;
  width: 120px;
  text-decoration: none;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  white-space: nowrap;
}

#projects-desktop {
  display: none;
}

#introduction-paragraphs {
  padding: 0%;
  margin: 0%;
  border-bottom-left-radius: 75px;
  padding-top: 3%;
}

#nav-menu {
  display: none;
}

/* #nav-menu.show {
  display: block;
} */

#nav-menu.mobileMenu {
  display:flex;
  flex-direction: column;
}

.desktop-image-div {
  display: none;
}

.desktop-image-div-2 {
  display: none;
}

#main-div {
  padding: 0%;
  margin: 0 auto;
  margin-top: -4%;
  background-image: url(./images/background/bg.png);
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 90%;
  border-bottom-left-radius: 75px;
  padding-top: 50px;
  background-color: #fff;
}

.desktop-image-div-4 {
  display: none;
}

.connect-message {
  font-size: 24px;
  font-weight: 500px;
  color: #7f8cff;
  line-height: 36px;
  margin-top: 50px;
  padding-left: 6%;
  font-style: normal;
}

#link-media {
  padding-left: 6%;
  margin-top: 3px;
  display: flex;
  align-items: center;
}

.social-icons {
  list-style: none;
  padding-left: 0%;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.social-icons li {
  display: inline-block;
  justify-content: center;
  padding-right: 4.5%;
}

.logos {
  padding-right: 8%;
}

.first-introduction {
  margin-top: 150px;
  margin-bottom: 20px;
  padding-left: 6%;
  padding-right: 12%;
  color: #172b4d;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
}

.description {
  margin-top: 2%;
  margin-bottom: 1.5%;
  padding-left: 6%;
  padding-right: 14%;
  color: #344563;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#projects {
  width: 100%;
  margin: 0%;
  display: grid;
  grid-template-rows: repeat(3, auto);
  align-items: space-between;
  padding-top: 10%;
}

#tonic-project {
  margin: 0 5.6% 10% 5.6%;
  height: fit-content;
  border-radius: 16px;
  border: 1px solid #dfe1e5;
  background-color: #fff;
}

.data {
  margin-top: 5%;
  margin-bottom: 8%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.project-title {
  font-style: normal;
  margin-top: 4%;
  margin-bottom: 2%;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.work-nature {
  margin-left: -1%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.canopy {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  margin-top: 1%;
  color: #344563;
}

.backend {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  margin-top: 1%;
  color: #7a868a;
}

.year {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  margin-top: 1%;
  color: #7a868a;
}

.work-description {
  font-style: normal;
  padding-left: 1px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344560;
}

.tools {
  list-style: none;
  padding-left: 0%;
  width: 100%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tools li {
  display: inline-block;
  justify-content: center;
  padding: 4px 12px;
  margin-right: 2.5px;
  border-radius: 8px;
  background-color: #ebebff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  letter-spacing: 0.03em;
}

.see-project {
  margin-top: 5px;
  width: 44%;
  background-color: white;
  border: 1px solid #6070ff;
  border-radius: 6px;
  padding: 16px;
  gap: 12px;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
}

.see-project:hover {
  text-decoration: underline;
}

#skills-page {
  background-color: #fff;
  height: fit-content;
  border: 1px solid #dfe1e5;
  border-top-right-radius: 75px;
  margin-bottom: 0%;
}

.about-description {
  padding-right: 5%;
  padding-top: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-bottom: 15%;
}

.main-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 0px;
  color: #172b4d;
  margin-right: 11%;
  padding-left: 7%;
}

.main-para {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344560;
  margin-right: 11%;
  padding-left: 7%;
}

.resume-link {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  width: 45%;
  border-radius: 6px;
  padding: 14px;
  background-color: white;
  border: 1px solid #6070ff;
  color: #396df2;
  margin-left: 6%;
}

.resume-link:hover {
  text-decoration: underline;
}

.skills-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-block-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
  margin-left: -1%;
  letter-spacing: 0.03em;
}

.space {
  height: 1px;
  width: 95%;
  margin-top: 7%;
  margin-left: -4%;
  background-color: #dfe1e5;
}

.pointer {
  position: absolute;
  right: 0;
  padding-right: 25%;
  padding-top: 2%;
}

#skills-list {
  list-style: none;
  padding: 8%;
}

#skills-list li {
  margin-bottom: 10%;
  height: fit-content;
}

.skills-dropdown {
  display: flex;
  height: fit-content;
  flex-direction: column;
}

.skills-dropdown-1 {
  background-color: #f7f7f8;
  padding: 15px;
  padding-right: 250px;
  margin: 2.9% 9% 1% -2.9%;
  border-radius: 12px;
}

.skill-icon {
  float: left;
}

.skill-name {
  position: absolute;
  margin-left: 1.5%;
  margin-top: 1%;
  color: #253858;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

#background {
  position: relative;
}

.footer-section {
  background-color: #6070ff;
  height: fit-content;
  width: 100%;
  border-top-left-radius: 75px;
  margin-top: 0%;
}

.contact-section {
  background: url(./images/background/background-footer.png);
  background-repeat: no-repeat;
  background-position-x: right;
  width: 375px;
  height: fit-content;
  padding-top: 4%;
  padding-left: 0%;
  margin-left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-header {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 0%;
  line-height: 52px;
}

.contact-description {
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  margin-top: 0%;
  text-align: center;
  color: #ebebff;
  font-weight: 400;
  width: 327px;
  padding-left: 24px;
}

#contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 10%;
}

.name-box {
  width: 100%;
  padding: 4%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  margin-left: -4%;
  border: 1px solid #cfd8dc;
  margin-bottom: 7%;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
  line-height: 20px;
}

.email-box {
  width: 100%;
  padding: 4%;
  border-radius: 8px;
  margin-left: -4%;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  margin-bottom: 7%;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
  line-height: 20px;
}

.message-box {
  width: 100%;
  padding: 4%;
  border-radius: 8px;
  margin-left: -4%;
  border: 1px solid #cfd8dc;
  font-family: "Poppins", sans-serif;
  margin-bottom: 9%;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
  line-height: 30px;
  resize: none;
  height: 150px;
}

.contact-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  margin-left: -4%;
  align-items: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: 1px;
  padding: 4%;
  border-radius: 8px;
  width: 50%;
  background: #fff;
}

.contact-button:hover {
  background-color: #6070ff;
  color: #fff;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    margin: 0;
  }

  .header-section {
    margin: 0;
    padding: 2%;
  }

  .image-div {
    display: none;
  }

  .logo {
    color: #6070ff;
    transition: all 1s;
  }

  .logo:hover {
    transform: rotate(360deg);
  }

  .see-project:hover {
    background: #396df2;
    color: #fff;
    transition: 0.8s;
  }

  .data {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .desktop-image-div {
    padding: 0.5px;
    display: flex;
    margin-right: 2.5%;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0;
  }

  .project-content-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }

  .project-content-2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }

  .desktop-image-div-2 {
    display: flex;
    margin-right: 2.5%;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0;
    order: 2;
  }

  .project-content-4 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }

  #skills-list {
    list-style: none;
    padding: 8%;
  }

  #skills-list li {
    margin-bottom: 15%;
    height: fit-content;
  }

  .skills-dropdown {
    display: flex;
    height: fit-content;
    flex-direction: row;
  }

  .skills-dropdown-1 {
    background-color: #f7f7f8;
    margin: 2.9% 9% 10% -2.9%;
    border-radius: 12px;
    padding: 14%;
    padding-right: 30px;
  }

  .skill-name {
    position: absolute;
    margin-left: -12%;
    margin-top: 13%;
    color: #253858;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
  }

  .desktop-image-div-4 {
    display: flex;
    margin-right: 2.5%;
    width: 50%;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0;
    order: 2;
  }

  #main-div {
    margin: 0%;
    margin-top: -4%;
    padding: 5%;
    background: none;
    background-color: #fff;
  }

  #introduction-paragraphs {
    background: url(./images/desktop/header\ background\ shape-desktop.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding-top: 15%;
    position: relative;
    height: auto;
    padding-bottom: 15%;
    margin: 0%;
  }

  #nav-menu {
    justify-content: space-evenly;
    display: flex;
  }

  .desktop-link {
    margin-right: 15%;
    color: #344563;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
  }

  .desktop-link:hover {
    color: #6070ff;
    text-decoration: underline;
  }

  #skills-page {
    margin-right: 0%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding-right: 0%;
    height: fit-content;
    border: 1px solid #dfe1e5;
    border-top-right-radius: 75px;
    margin-bottom: 0%;
  }

  #mobile-nav {
    display: none;
  }

  .about-description {
    width: 50%;
    padding-top: 15%;
    padding-right: 0%;
  }

  .skills-block {
    float: right;
    width: 50%;
    position: relative;
    padding-top: 15%;
  }

  .skills-block-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin-left: -1%;
    letter-spacing: 0.03em;
  }

  .space {
    height: 1px;
    width: 210%;
    margin-top: 7%;
    margin-left: -4%;
    background-color: #dfe1e5;
  }

  .skill-icon {
    margin-top: -12%;
    margin-left: -12%;
    float: left;
  }

  .contact-section {
    background: url("./images/desktop/footer.png");
    margin: 0%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: 100%;
    height: fit-content;
    margin-left: 0%;
    padding: 0%;
    justify-content: center;
    width: 100%;
    background-position: 0% 50%;
  }

  .contact-header {
    margin-top: 10%;
    width: 33%;
    margin-left: 33%;
  }

  .contact-description {
    width: 40%;
    margin-left: 30%;
  }

  #contact-form {
    width: 40%;
    margin: 0%;
    margin-left: 30%;
    margin-bottom: 3%;
  }

  .contact-button {
    background-color: #fff;
    border-radius: 8px;
    padding: 4%;
    width: 30%;
    color: #6070ff;
    border: 1px;
    margin-left: 25%;
  }
}
